body{
    background-color: black;
}
h4, h2{
    color: gold;
}

p{
      color: gold;
  }
hr { display: block; 

   overflow: hidden; 
   border-style: inset; 
  border-width: 1px;}
button{

width: 100px;
background-color: aliceblue; 
color: black; 
border-radius: 15px;
border: 2px solid black;
height:40px;
margin-left: 75%;
margin-top: 5%;
}
.card-horizontal {
display: flex;
flex: 1 1 auto;
}
@media only screen and (max-width: 600px) {
button{
margin-top: -15%;

}
}
h1 {
    color: gold;
}